sudo: false
os: linux
language: android
jdk: oraclejdk8
android:
  components:
    - tools
    - tools
    - extra-android-m2repository
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
env:
  global:
    - TRAVIS_NODE_VERSION=4
  matrix:
    # android 4.4
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-console
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-device
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-file
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-media
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-vibration
    # android 5.1
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-console
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-device
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-file
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-media
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-vibration
    # android 6.0
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-console
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-device
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-file
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-media
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-vibration
    # android 7.0
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-console
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-device
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-file
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-media
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-vibration

before_install:
  - npm cache clean -f
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - node --version
  - gradle --version
  - echo y | android update sdk -u --filter android-22,android-23,android-24,android-25

install:
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-paramedic /tmp/paramedic && pushd /tmp/paramedic && npm install && popd
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-coho /tmp/coho && pushd /tmp/coho && npm install && popd
  - git clone --depth=1 --branch=master https://github.com/apache/$PLUGIN /tmp/$PLUGIN
  # installing dev cordova
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-lib /tmp/cordova-lib
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-js /tmp/cordova-js
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-cli /tmp/cordova-cli
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-create /tmp/cordova-create
  - pushd /tmp/cordova-js && npm install && npm link && popd
  - pushd /tmp/cordova-lib/cordova-common && npm install && npm link && popd
  - pushd /tmp/cordova-lib/cordova-fetch && npm install && npm link && popd
  - pushd /tmp/cordova-create && npm install && npm link && popd
  - pushd /tmp/cordova-lib/cordova-serve && npm install && npm link && popd
  - pushd /tmp/cordova-lib/cordova-lib && npm install && npm link && popd
  - pushd /tmp/cordova-cli && npm install && npm link && popd
  - pushd /tmp/cordova-lib/cordova-fetch && npm link cordova-common && popd
  - pushd /tmp/cordova-create && npm link cordova-common cordova-fetch && popd
  - pushd /tmp/cordova-lib/cordova-lib && npm link cordova-common cordova-create cordova-fetch cordova-js cordova-serve && popd
  - pushd /tmp/cordova-cli && npm link cordova-common cordova-create cordova-fetch cordova-js cordova-lib cordova-serve && popd
  - /tmp/cordova-cli/bin/cordova -v

script:
  - PLUGINS_ARG="--plugin /tmp/$PLUGIN"
  - FTS_ARG="--fileTransferServer http://sheltered-retreat-43956.herokuapp.com"
  - CLI_ARG="--cli /tmp/cordova-cli/bin/cordova"
  - if [ $PLATFORM = android-7.0 ]; then SKIP_APPIUM="--skipAppiumTests"; fi
  # run general tests and Appium tests separately for easier result identification
  - node /tmp/paramedic/main.js --config periodic/$PLATFORM $PLUGINS_ARG $FTS_ARG $CLI_ARG --shouldUseSauce --buildName travis-periodic-$TRAVIS_JOB_NUMBER $SKIP_APPIUM
