sudo: false
os: linux
language: android
jdk: oraclejdk8
android:
  components:
    - tools
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
env:
  global:
    - TRAVIS_NODE_VERSION=6.11.2
  matrix:
    # android 4.4
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-console
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-device
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-file
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-media
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-4.4 PLUGIN=cordova-plugin-vibration
    # android 5.1
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-console
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-device
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-file
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-media
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-5.1 PLUGIN=cordova-plugin-vibration
    # android 6.0
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-console
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-device
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-file
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-media
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-6.0 PLUGIN=cordova-plugin-vibration
    # android 7.0
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-battery-status
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-camera
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-console
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-contacts
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-device
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-device-motion
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-device-orientation
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-dialogs
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-file
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-file-transfer
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-geolocation
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-globalization
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-inappbrowser
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-media
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-media-capture
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-network-information
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-screen-orientation
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-splashscreen
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-statusbar
    - PLATFORM=android-7.0 PLUGIN=cordova-plugin-vibration

before_install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - node --version
  - npm --version
  - gradle --version
  - npm cache clean -f
  - echo y | android --silent update sdk --no-ui --all --filter platform-tools,tools,build-tools-26.0.0,android-27,android-26,android-25,extra-google-m2repository,extra-android-m2repository

install:
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-paramedic && pushd cordova-paramedic && npm install && popd
  - git clone --depth=1 --branch=master https://github.com/apache/cordova-coho && pushd cordova-coho/src && npm install && popd
  - git clone --depth=1 --branch=master https://github.com/apache/$PLUGIN
  # installing dev cordova
  - cordova-coho/coho repo-clone -r tools
  - cordova-coho/coho npm-link
  - pushd cordova-cli && npm install && popd
  - cordova-cli/bin/cordova -v

script:
  - PLUGINS_ARG="--plugin $PLUGIN"
  - FTS_ARG="--fileTransferServer http://sheltered-retreat-43956.herokuapp.com"
  - CLI_ARG="--cli cordova-cli/bin/cordova"
  - node cordova-paramedic/main.js --config periodic/$PLATFORM $PLUGINS_ARG $FTS_ARG $CLI_ARG --shouldUseSauce --buildName travis-periodic-$TRAVIS_JOB_NUMBER --verbose
